/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-radius: $card-radius

    & + .card, & + .column-right-shadow
        margin-top: 1.5rem

    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius

    .media + .media
        border: none
        margin-top: 0



/* ---------------------------------
 *           CustomerCSS
 * --------------------------------- */

 .card
    background-color: rgba(247,247,247,0.85)
    backdrop-filter: none
    -webkit-backdrop-filter: none

.card
    box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)
    &:hover
        box-shadow: 0 6px 15px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.1)
    // &.card-transparent
    //     box-shadow: none
    //     background: transparent
    